In [2]:
import pandas as pd
import math

# Question IV

a)

In [3]:
dftt = pd.read_excel('ttest.xls')

In [4]:
dftt.head(10)

       BOSS  Flat-COTE
0  0.749412   0.809847
1  0.875200   0.876800
2  0.615000   0.764000
3  0.948500   0.921000
4  0.984000   0.941000
5  0.855000   0.899000
6  0.998067   0.998011
7  0.659570   0.735568
8  0.900388   0.982717
9  0.988571   0.999643

In [16]:
total = 0
sdCalc = 0
standardDevIncreaser = 0

for index, row in dftt.iterrows():
    boss = dftt['BOSS'].values[index] 
    flatCote = dftt['Flat-COTE'].values[index]

    total += boss - flatCote
    sdCalc = ((boss - flatCote) - 0.025) ** 2
    standardDevIncreaser += sdCalc

averageDifference = abs(total/85)
standardDeviation = math.sqrt(standardDevIncreaser/84)
    
print("Average Difference:", averageDifference)
print("Standard Deviation:", standardDeviation)
print("t statistic:", averageDifference / (standardDeviation / math.sqrt(85)))

Average Difference: 0.02448148105882353
Standard Deviation: 0.06866696797166244
t statistic: 3.2869967856356017

b)

In [10]:
dff = pd.read_excel('friedmanstest.xls')

In [11]:
dff.head(5)

       BOSS  LCSS_1NN        LS       LPS  DDTW_R1_1NN      TSBF
0  0.749412  0.241586  0.527418  0.764962     0.583043  0.726777
1  0.875200  0.797086  0.841314  0.806286     0.867600  0.800857
2  0.615000  0.543000  0.697667  0.519667     0.533000  0.554333
3  0.948500  0.774500  0.861500  0.892500     0.811500  0.798500
4  0.984000  0.799500  0.863500  0.854000     0.877500  0.902000

In [15]:
score = []
bossValueRank = 0
lcssValueRank = 0
lsValueRank = 0
lpsValueRank = 0
ddtwValueRank = 0
tsbfValueRank = 0

for index, row in dff.iterrows():
    boss = dff['BOSS'].values[index] 
    lcss = dff['LCSS_1NN'].values[index]
    ls = dff['LS'].values[index] 
    lps = dff['LPS'].values[index]
    ddtw = dff['DDTW_R1_1NN'].values[index]
    tsbf = dff['TSBF'].values[index]

    score.append(boss)
    score.append(lcss)
    score.append(ls)
    score.append(lps)
    score.append(ddtw)
    score.append(tsbf)
    
    sr = pd.Series(score)
    _index = ["boss", "lcss", "ls", "lps", "ddtw", "tsbf"]
    sr.index = _index
    result = sr.rank(ascending = False)
    bossValueRank += result[0]
    lcssValueRank += result[1]
    lsValueRank += result[2]
    lpsValueRank += result[3]
    ddtwValueRank += result[4]
    tsbfValueRank += result[5]
    score.clear()
    
print("BOSS:", bossValueRank/85)
print("LCSS:", lcssValueRank/85)
print("LS:", lsValueRank/85)
print("LPS:", lpsValueRank/85)
print("DDTW:", ddtwValueRank/85)
print("TSBF:", tsbfValueRank/85)

BOSS: 2.1058823529411765
LCSS: 3.9529411764705884
LS: 3.2941176470588234
LPS: 3.6588235294117646
DDTW: 4.858823529411764
TSBF: 3.1294117647058823